body{
    background-color: black;
}
.satu{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.dua{
    width: 200px;
    height: 200px;
    background-color: orange;
    position: absolute;
    left: 550px;
}
.tiga{
    width: 200px;
    height: 200px;
    background-color: red;
}
.all{
    margin-left: 500px;
}