body{
    
background-color: black;
}

.satu{
    height: 300px;
    width: 300px;
    
    background-color: rgba(0, 255, 238, 0.5);
    position: relative;
    margin: auto;
    margin-top: 200px;

}

.dua{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: -50px;
    bottom: -50px;
}